/* Header stuff */

header {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header-left {
  display: flex;
}

.header-right p {
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    height: 75px;
    width: auto;
    display: block;
}

/* Main stuff */

main {
    background-color: lightgray;
    padding: 1rem 0.75rem;
}

section {
    background-color: azure;
    border: 1px solid gray;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
}

/* First calculator */

.calcCont {
    display: flex;
    justify-content: center;
}

.calcWhole {
    background-color: grey;
    border: solid 2px black; 
    padding: 20px;
}

.calcWhole button {
    border: solid 1px black;
    width: 3rem;
    height: 3rem;
}

.input-output {
    display: grid;
}

/* Evil Calculator */

input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    vertical-align: bottom;
}

.tugir {
    position: relative;
    bottom: 35px;
}

.hell {
    display: flex;
    gap: 10px;
}

.hell p {
    display: block;
    align-self: center;
    padding: 1rem;
}

.slider-container {
    max-width: fit-content;
    padding: 1rem;
}

.selector {
    max-width: fit-content;
}

#arithOperators {
    max-width: fit-content;
    align-content: center;
}

#evilEqual {
    align-self: center;
    height: 50px;
    width: 50px;
}

#finePrint {
    font-size: 5px;
}

/* Mobile responsiveness */

@media (max-width: 600px) {
    .calcCont {
        flex-direction: row;
    }
    
    .hell {
        flex-direction: column;
    }
}

/* Footer stuff */

.footer {
    background-color: antiquewhite;
    padding: 5px;
}