/* Header stuff */

header {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header-left {
  display: flex;
}

.header-right p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Main stuff */

main {
    background-color: burlywood;
    padding: 20px;
}

/* Calculator */

.calcCont {
    display: flex;
    justify-content: center;
}

.calcWhole {
    background-color: grey;
    border: solid 2px black; 
    padding: 20px;
}

.calcWhole button {
    border: solid 1px black;
    width: 50px;
    height: 50px;
}

.input-output {
    display: grid;
}

/* Footer stuff */

.footer {
    background-color: cornflowerblue;
    padding: 5px;
}