/* Header stuff */

header {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header-left {
  display: flex;
}

.header-right p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Main stuff */

main {
    background-color: burlywood;
    padding: 1rem 0.75rem;
}

section {
    background-color: azure;
    border: 1px solid gray;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
}

/* Calculator */

.calcCont {
    display: flex;
    justify-content: center;
}

.calcWhole {
    background-color: grey;
    border: solid 2px black; 
    padding: 20px;
}

.calcWhole button {
    border: solid 1px black;
    width: 50px;
    height: 50px;
}

.input-output {
    display: grid;
}

/* Footer stuff */

.footer {
    background-color: cornflowerblue;
    padding: 5px;
}

/* Fuck shit */

input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    vertical-align: bottom;
}

.tugir {
    position: relative;
    bottom: 35px;
}

.hell {
    display: flex;
    gap: 10px;
}

.slider-container {
    max-width: fit-content;
}

.selector {
    max-width: fit-content;
}

#arithOperators {
    max-width: fit-content;
    align-content: center;
}